html {
    -webkit-filter:invert(100%) hue-rotate(180deg) contrast(70%) !important; 
    background: #fff;
} 

.line-content {
    background-color: #fefefe;
}

img {
    filter: invert(100%) hue-rotate(180deg) contrast(100%) !important;
}


body {
    background: linear-gradient(to right, #adadad, #858585);
}


#widget-chat-_hw {
    display: none;
}